body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

nav {
  background-color: #11303d; /* Navbar background color */
  padding: 4px;
  position: fixed; /* Fixes the navbar */
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensures the navbar is on top */
}

.nav-link {
  display: block;
  color: white; /* Default color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active-nav-item {
  color: black !important; /* Active item color */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white; /* White text */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #000000;
  color: white;
  /* Green background on hover */
}

.content {
  padding-top: 50px; /* Adds space to avoid content being hidden behind the navbar */
}
